# Python 3.10.10
#
# Core dependencies
torch==2.5.1
numpy==1.26.4
scipy==1.15.3
pandas==2.3.3
scikit-learn==1.7.2
dill==0.4.0
joblib==1.5.2

# Visualization
plotly==6.6.0
matplotlib==3.10.8

# Notebooks
ipykernel

# Testing
pytest==8.4.1
